#play {
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    letter-spacing: 2ex;
    padding: 10px;
    text-shadow: 2px 2px gray;
};